<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>AddJobServlet</servlet-name>
        <servlet-class>controller.AddJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddJobServlet</servlet-name>
        <url-pattern>/AddJobServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditJobServlet</servlet-name>
        <servlet-class>controller.EditJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditJobServlet</servlet-name>
        <url-pattern>/EditJobServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewJobsServlet</servlet-name>
        <servlet-class>controller.ViewJobsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewJobsServlet</servlet-name>
        <url-pattern>/ViewJobsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteJobServlet</servlet-name>
        <servlet-class>controller.DeleteJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteJobServlet</servlet-name>
        <url-pattern>/DeleteJobServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/login.jsp</welcome-file>
        <welcome-file>chat1.jsp</welcome-file>
    </welcome-file-list>
</web-app>
